/*  colors: #bf764c #e1d7c2 #4a5e6c #90926f */
body {
  background-color: #e1d7c2;
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
}

.jumbotron {
  background-image: url("../assets/images/cityscape.jpg");
  background-color: #90926f;
  background-repeat: no-repeat;
  background-position: right;
  height: 200px;
  text-align: left;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin-bottom: 15px;
  background: #bf764c;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
}

.city {
  height: 125px;
  width: 175px;
  text-align: center;
  padding-top: 45px;
  border: 2px solid black;
  font-family: 'Kavoon', cursive;
  font-size: 26px;
  margin: 2px;
}

#Seattle {
  background: url(https://images.unsplash.com/photo-1535581652167-3a26c90bbf86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #ffcd57;
}

#Amsterdam {
  background: url(https://images.unsplash.com/photo-1536880756060-98a6a140f0a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #89c2d9;
}

#London {
  background: url(https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #9e0059;

}

#Barcelona {
  background: url(https://images.unsplash.com/photo-1597032868256-1f659aeb0d49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: white;
}

#Paris {
  background: url(https://images.unsplash.com/photo-1458262488536-98366625ae59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #007200;
}

#Tokyo {
  background: url(https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #f33d0b;
}

.card {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #4a5e6c;
  color: white;
}


