/*  colors: #bf764c #e1d7c2 #4a5e6c #90926f */
body {
  background-color: #e1d7c2;
  font-family: "Abril Fatface", cursive;
  font-size: 22px;
  color: white;
}

.jumbotron {
  background-image: url("../assets/images/cityscape.jpg");
  background-color: #90926f;
  background-repeat: no-repeat;
  background-position: right;
  height: 200px;
  text-align: left;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
  padding: 15px;
  border-radius: 10px;
}

p {
  font-size: 20px;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin-bottom: 15px;
  background: #bf764c;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
}

.city {
  height: 150px;
  width: 185px;
  text-align: center;
  padding-top: 52px;
  border: 2px solid rgba(0, 0, 0, 0.486);
  font-family: "Kavoon", cursive;
  font-size: 26px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
  margin-top: 4px;
  cursor: pointer; 
}

#Seattle {
  background: url(https://images.unsplash.com/photo-1535581652167-3a26c90bbf86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #ffcd57;
}

#Amsterdam {
  background: url(https://images.unsplash.com/photo-1536880756060-98a6a140f0a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #89c2d9;
}

#London {
  background: url(https://images.unsplash.com/photo-1488747279002-c8523379faaa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #9e0059;
}

#Barcelona {
  background: url(https://images.unsplash.com/photo-1597032868256-1f659aeb0d49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: white;
}

#Paris {
  background: url(https://images.unsplash.com/photo-1458262488536-98366625ae59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #007200;
}

#Sydney {
  background: url(https://images.unsplash.com/photo-1592198891021-cb1397d051a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #0fc7ce;
}

#Tokyo {
  background: url(https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #f33d0b;
}

#Amalfi {
  background: url(https://images.unsplash.com/photo-1539981739188-bbff34df9959?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=675&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  color: #be4fbe;
}

.card {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #4a5e6c;
}

.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

#map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #4a5e6c; 
  cursor: pointer; 
  padding: 16px; 
  border-radius: 10px; 
  font-size: 18px; 
  color: white;
}

#myBtn:hover {
  background-color: #5d7688;
}

.dayPlan {
  text-align: center;
  display: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
  border-bottom: 1.5px solid #4a5e6c;
}